AgenteCotacaoDolar (3).json
{
  "name": "AgenteCotacaoDolar",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const variaveis = $('Variaveis').first().json;\nconst mensagem = variaveis.Mensagem.toLowerCase();\n\n// Extrai o valor da mensagem (ex: \"fechar 100k\" -> \"100k\")\nconst matchValor = mensagem.match(/fechar\\s+([0-9.]+[km]?)/i);\n\nif (!matchValor) {\n  // Se não encontrou valor, retorna erro\n  return [{\n    json: {\n      erro: true,\n      valorTexto: \"0\",\n      valorNumerico: 0\n    }\n  }];\n}\n\nconst valorTexto = matchValor[1];\n\n// Converte valor (100k -> 100000, 2.5k -> 2500)\nlet valorNumerico;\nif (valorTexto.toLowerCase().endsWith('k')) {\n  valorNumerico = parseFloat(valorTexto) * 1000;\n} else if (valorTexto.toLowerCase().endsWith('m')) {\n  valorNumerico = parseFloat(valorTexto) * 1000000;\n} else {\n  valorNumerico = parseFloat(valorTexto);\n}\n\nreturn [{\n  json: {\n    erro: false,\n    valorTexto: valorTexto,\n    valorNumerico: valorNumerico,\n    ...variaveis\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        208
      ],
      "id": "19f51255-d6b1-4d96-8af2-3921c6b14f3e",
      "name": "ExtrairValor",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a73b7d48-4261-41a2-9e09-450d7e04e496",
              "leftValue": "={{ $json.body.message.sender.split('@')[0] }}",
              "rightValue": "5511958988854",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7a6d1ff7-e5ed-4286-ac77-1652d907ef1d",
              "leftValue": "={{ $json.body.message.sender.split('@')[0] }}",
              "rightValue": "553173591394",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1984,
        128
      ],
      "id": "6e244b94-3233-4584-bf4c-d9b2e71ed06e",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18sKH4AFq3DN-L0eB1smxX0Fm2EzOB_ugTTRj65vglC8",
          "mode": "list",
          "cachedResultName": "Dolar Comprado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sKH4AFq3DN-L0eB1smxX0Fm2EzOB_ugTTRj65vglC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sKH4AFq3DN-L0eB1smxX0Fm2EzOB_ugTTRj65vglC8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Preço Dolar": "={{ $('BuscarCotacao5').item.json.data.dollarOTC }}",
            "Valor Compra": "={{ $('ExtrairValor').item.json.valorNumerico }}",
            "Telefone Vendedor": "={{ $('ExtrairValor').item.json.TelefoneRecebedor }}",
            "Telefone Comprador": "={{ $('ExtrairValor').item.json.TelefoneLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone Comprador",
              "displayName": "Telefone Comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone Vendedor",
              "displayName": "Telefone Vendedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor Compra",
              "displayName": "Valor Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preço Dolar",
              "displayName": "Preço Dolar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        208
      ],
      "id": "f09b0d55-cb1a-4449-bc95-10c7f5b937c2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TZ2QXJSeiyGffgnJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://andradek.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "db784535-086a-4fd1-9e79-f57271d3129b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.TelefoneLead }}"
            },
            {
              "name": "text",
              "value": "=✅ *Compra Fechada!*\n\nValor: *{{ $('ExtrairValor').item.json.valorTexto }}* (R$ {{ $('ExtrairValor').item.json.valorNumerico.toLocaleString('pt-BR') }})\nCotação: *R$ {{ $('BuscarCotacao5').item.json.data.dollarOTC }}*\nTotal em dólares: *${{ ($('ExtrairValor').item.json.valorNumerico / $('BuscarCotacao5').item.json.data.dollarOTC).toFixed(2) }}*\n\n🎉 Obrigado pela preferência!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        208
      ],
      "id": "2535209d-cfed-4aa5-aa14-889a9ad63df7",
      "name": "EnviaMensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1284c8fd-e45a-4e96-8cd7-6bbd6ff86c56"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Primeiro Contato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6dd46a8-5e19-4aff-ae2e-6fb24745932a",
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ja cadastrado"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1280,
        128
      ],
      "id": "bcb7cdc1-286f-48bf-a7b3-4577229fa5d9",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.TelefoneLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1504,
        128
      ],
      "id": "56451f8b-5952-4392-9f2c-791c9f429761",
      "name": "Get many rows2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Variaveis').item.json.NomeLead }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('Variaveis').item.json.TelefoneLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        64
      ],
      "id": "396bd4f4-73ba-45bb-8765-fcfd193095b1",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a65ebaff-6e8f-4458-bdb9-35c7c3fcf203",
              "name": "dados",
              "value": "",
              "type": "string"
            },
            {
              "id": "10ae54fa-5ffc-41e9-8153-56c6f6194cbb",
              "name": "Mensagem",
              "value": "={{ $json.body.message.content }}",
              "type": "string"
            },
            {
              "id": "99fd4475-cae5-4fdf-acf6-2bfcd1d67269",
              "name": "TelefoneLead",
              "value": "={{ $json.body.message.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "97f7dc37-f850-4a66-9948-fe951513f1ff",
              "name": "NomeLead",
              "value": "={{ $json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "61f45728-e20b-4417-ad8c-0c55f3f7235d",
              "name": "HoraMensagem",
              "value": "={{ new Date($json.body.message.messageTimestamp).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}",
              "type": "string"
            },
            {
              "id": "61f45728-e20b-4417-ad8c-0c55f3f7235e",
              "name": "TimestampNumero",
              "value": "={{ $json.body.message.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "e57dd9f7-6d2b-4494-9c9f-0462dd480f1a",
              "name": "TelefoneRecebedor",
              "value": "={{ $json.body.owner }}",
              "type": "string"
            },
            {
              "id": "d2c24a99-d7ed-45e1-914f-8300653dd301",
              "name": "NomeVendedor",
              "value": "={{ $json.body.chat.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        128
      ],
      "id": "f3c005bb-82ef-4291-a3da-911d44366bd7",
      "name": "Variaveis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do cliente: {{ $json.mensagem }}\n",
        "options": {
          "systemMessage": "Você é um assistente de cotação de dólar. IMPORTANTE:\n\n1. Seja EXTREMAMENTE conciso - máximo 2-3 linhas\n2. Use apenas informações diretas, sem enrolação\n3. Para cotações: informe apenas o valor em formato \"Dólar: R$ X.XX\"\n4. Para outras perguntas: responda de forma direta em no máximo 2 frases\n5. NUNCA repita informações ou faça textos longos\n\nExemplos de respostas boas:\n- \"Dólar agora: R$ 6.15\"\n- \"Sim, aceitamos pagamento via PIX\"\n- \"Horário de atendimento: 9h às 18h\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        352
      ],
      "id": "28b434fc-da84-4e88-bd65-0b229a4583fd",
      "name": "Agente Cotação"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variaveis').item.json.TelefoneLead }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -288,
        576
      ],
      "id": "9c57161b-d0bd-4832-a73c-b17feb863287",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ao9X9BqeQekEVYq2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -416,
        576
      ],
      "id": "39b7c8de-7b66-49e7-b312-3915b74b3130",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "2j1EpG8bKacYsaIm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ \n  $('Variaveis').item.json.Mensagem\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')   // remove acentos\n    .trim()\n}}",
                    "rightValue": "=cotacao",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e073ed41-5df7-4ab4-9182-a9c97b7c400c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Solicitar Cotacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ec994f4-d9f0-4521-96cd-b72cf9ae8cc1",
                    "leftValue": "={{ $('Variaveis').item.json.Mensagem.toLowerCase().includes('fechar') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tentar Fechar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ec994f4-d9f0-4521-96cd-b72cf9ae8cc2",
                    "leftValue": "={{ $('Variaveis').item.json.Mensagem }}",
                    "rightValue": "cotacao",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conversa Normal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -832,
        128
      ],
      "id": "2708a604-118d-48bf-a078-983a21e0e98b",
      "name": "Switch5"
    },
    {
      "parameters": {
        "url": "https://coopfy.com/api/usdt/price?spread=0.00498",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        -192
      ],
      "id": "407b0183-91cd-456f-8efe-578577e5c05b",
      "name": "BuscarCotacao3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://andradek.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "db784535-086a-4fd1-9e79-f57271d3129b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.TelefoneLead }}"
            },
            {
              "name": "text",
              "value": "=💵 *Cotação do Dólar*\n\nValor: *R$ {{ $('BuscarCotacao3').item.json.data.dollarOTC }}*\n\n⏰ Válida por 10 segundos\n\nPara fechar, responda:\n*fechar [valor]*\n\nExemplo: fechar 100k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -208
      ],
      "id": "9a1a29cd-1ebf-4f34-882a-49fdf153d014",
      "name": "EnviarCotacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://andradek.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "db784535-086a-4fd1-9e79-f57271d3129b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.TelefoneLead }}"
            },
            {
              "name": "text",
              "value": "=  ⏱️ Essa cotação já expirou!\n\n  Digite *cotacao* para receber o valor atualizado do dólar. 💵\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        64
      ],
      "id": "9b1bd080-5ee0-4ca2-95f1-2117c5999f59",
      "name": "EnviarErro"
    },
    {
      "parameters": {
        "toolDescription": "Receba a cotação do dolar, traga a informação BRL",
        "url": "https://coopfy.com/api/usdt/price?spread=0.00498",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -160,
        576
      ],
      "id": "e5cab3c6-0ec0-4488-b0c7-d9d168b6cee4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://andradek.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "db784535-086a-4fd1-9e79-f57271d3129b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.TelefoneLead }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        352
      ],
      "id": "1296ce42-0b8c-4d81-b428-dcb580a02776",
      "name": "EnviaMensagem3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f872b772-1fb0-49c8-8a63-7f2bb7e2e2b6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2224,
        128
      ],
      "id": "556eac79-a733-419a-b957-16908c1da421",
      "name": "Webhook",
      "webhookId": "f872b772-1fb0-49c8-8a63-7f2bb7e2e2b6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "n8n_cotacao",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "horarioSolicitacao",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -304
      ],
      "id": "a58b45eb-9263-4fa6-ab16-c48246c591c4",
      "name": "SalvarCotação2",
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_cotacao",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $('Variaveis').item.json.TelefoneLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -192
      ],
      "id": "841c07ca-24b1-49ce-b3b2-d8d8ba413279",
      "name": "Get many rows3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7fec8121-38e4-4d57-ac7c-f26aa985bb72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Primeira cotação"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb0de4e9-4fec-4a77-a202-b3274ed8190e",
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Já solicitou"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        -192
      ],
      "id": "a4c15724-41fb-41e2-8065-848facc19395",
      "name": "Switch6"
    },
    {
      "parameters": {
        "tableId": "n8n_cotacao",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "horarioSolicitacao",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('Variaveis').item.json.TelefoneLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        -304
      ],
      "id": "a27de34f-b45a-4da9-981e-3253f9906192",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "n8n_cotacao",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows3').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "horarioSolicitacao",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        -112
      ],
      "id": "8414ec5b-9be4-4441-b04e-bd8d46b47b26",
      "name": "SalvarCotação3",
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_cotacao",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        144
      ],
      "id": "337ff63d-cdea-4562-999d-ab784a835654",
      "name": "BuscarCotacao4",
      "credentials": {
        "supabaseApi": {
          "id": "lTaMIx63HoncbUl5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://coopfy.com/api/usdt/price?spread=0.00498",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        208
      ],
      "id": "ebe627ae-9cb8-4446-9612-0d5dde8245b9",
      "name": "BuscarCotacao5"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.horarioSolicitacao }}",
        "endDate": "={{ $now }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -96,
        144
      ],
      "id": "40f44004-f514-436c-91e1-a68805f2dd6d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.timeDifference.seconds }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "4e57d731-c587-43f9-8423-6232360e3086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Expirado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51551a91-95fd-4485-945c-6cfea6a1f3c1",
                    "leftValue": "={{ $json.timeDifference.seconds }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fechado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        144
      ],
      "id": "eec394ff-c8c4-4a7a-9d6a-13b20eb802ff",
      "name": "Switch7"
    }
  ],
  "pinData": {},
  "connections": {
    "ExtrairValor": {
      "main": [
        [
          {
            "node": "BuscarCotacao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "EnviaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows2": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Get many rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Cotação": {
      "main": [
        [
          {
            "node": "EnviaMensagem3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Cotação",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Cotação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "BuscarCotacao3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BuscarCotacao4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Cotação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarCotacao3": {
      "main": [
        [
          {
            "node": "Get many rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Agente Cotação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvarCotação2": {
      "main": [
        [
          {
            "node": "EnviarCotacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows3": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SalvarCotação3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "SalvarCotação2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvarCotação3": {
      "main": [
        [
          {
            "node": "EnviarCotacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarCotacao4": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarCotacao5": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "EnviarErro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ExtrairValor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39eb08a4-c21a-4c9b-a269-ac8d9fd80dd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "869ea8b301111d8b64c0cbf3eb672baf7d914c25ba5f281459682a5a517bcdf9"
  },
  "id": "LRpXBoUqVRGngvAN",
  "tags": []
}